{% extends 'main/layout.html' %}

{% block title %}
Домашний Повар/onas
{% endblock  %}

{% block content %}
<div class="tovar">
    <div class="container">
        <p style="font-size:35px;" class="tovar__main">О сайте</p>
        <div class="men_krt">
        <div class="tovar__line"></div>
        <p>Портал был создан с целью помощи аудитории, интересующейся качественной информацией в сфере кулинарии, как для начинающих кулинаров, так и для профессиональных поваров.</p>
        <p>На портале предложена коллекцию интересных рецептов самых именитых и востребованных шеф-поваров ресторанов со всего мира.</p>
        <p>На сайте «Домашний Повар» собраны рецепты кулинаров, которым можно вверить самое сокровенное для нас – это содержимое наших желудков.</p>
        <p>Шеф-повара делятся только рецептами блюд, которые можно приготовить в домашних условиях, без каких-либо сложностей и проблем. Для них не понадобится специальное оборудование и сложные компоненты. Отдельные рецепты блюд достаточно трудоемкие, однако на то они и рецепты шеф-поваров. Следуйте указанным пошаговым инструкциям и при соответствующем старании у вас все обязательно получится.</p>
        <div class="tovar__line"></div>
        <P>Автор статей: Какой-то чел, шеф- повар, с практическим опытом более 20 лет. Главный редактор проекта</P>
      </div>
    </div>
</div>
{% endblock  %}